{% extends 'base.html' %}
{% block content %}
    <div class = "page-layout">
        <section>
            <h2>Modifier votre ticket</h2>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ edit_form.as_p }}
                {{ edit_photo_form.as_p }}
                <button type="submit" name="edit_ticket" class="btn btn-primary" >Sauvegarder</button>
            </form>
            <h2>Supprimer le billet ?</h2>
            <form method="post">
                {{ delete_form }}
                {% csrf_token %}
                <button type="submit" >Supprimer</button>
            </form>
        </section>
    </div>
{% endblock content %}