{% extends 'base.html' %}
{% block content %}
<main class="page-layout">
    {% include "reviews/ticket-summary.html" %}
    <section class="create-review-container">
        <h2>{% if is_edit %}Modifier la critique{% else %}Écrire une critique{% endif %}</h2>
        <form method="post" class="ticket-form" enctype="multipart/form-data">
            {% csrf_token %}
            <p>Titre (requis):</p>
            {{ review_form.headline }}
            <p>Note (requis):</p>
            {{ review_form.rating }}
            <p>Description :</p>
            {{ review_form.body }}
            <div class="btn-form-container">
                <button type="submit" class="btn btn-primary btn-form">
                    {% if is_edit %}Sauvegarder{% else %}Publier{% endif %}
                </button>
                <button class="btn btn-secondary btn-form" onclick="history.back()">Retour</button>
            </div>
        </form>
    </section>
</main>
{% endblock content %}