{% extends 'base.html' %}
{% block content %}
<main class="page-layout">
    <section class="ticket-summary">
        <p>Vous êtes en train de poster en réponse à :</p>
        <div class="ticket-summary__content">
            <div class="post-item">
                <header class="post-item__header">
                    <p class="post-item__author">{{ ticket.user }} a demandé une critique</p>
                    <time class="post-item__time">{{ ticket.time_created }}</time>
                </header>
                <h2 class="post-item__headline">{{ ticket.title }}</h2>
                <p class="post-item__description">{{ ticket.description }}</p>
            </div>

            {% if ticket.photo and ticket.photo.image %}
            <div class="ticket-item__image-container--thumbnail">
                <img class="ticket-item__image image-thumbnail" src="{{ ticket.photo.image.url }}" alt="Photo du billet">
            </div>
            {% endif %}
        </div>
    </section>
    <section class="create-review-container">
        <h2>{% if is_edit %}Modifier la critique{% else %}Écrire une critique{% endif %}</h2>
        <form method="post" class="ticket-form" enctype="multipart/form-data">
            {% csrf_token %}
            <p>Titre :</p>
            {{ review_form.headline }}
            <p>Note :</p>
            {{ review_form.rating }}
            <p>Description :</p>
            {{ review_form.body }}
            <div class="btn-form-container">
                <button type="submit" class="btn btn-primary btn-form">
                    {% if is_edit %}Sauvegarder{% else %}Publier{% endif %}
                </button>
                <button class="btn btn-secondary btn-form" onclick="history.back()">Retour</button>
            </div>
        </form>
    </section>
</main>
{% endblock content %}