{% load static %}
<html>
    <head>
        <title>LITRevu</title>
        <link rel="stylesheet" href="{% static 'styles.css' %}" />
    </head>
    <body class="page-container">
        <header class="header">
            <h1 class="header__title">LITRevu</h1>
        </header>

        <main class="content">
            {% block content %}{% endblock content %}
        </main>

        {% if user.is_authenticated %}
            <footer class="footer">
                <p class="footer__text">
                    Vous êtes connecté en tant que {{ user }}.
                    <a class="footer__link" href="{% url 'logout' %}">Se déconnecter</a>
                </p>
                <p class="footer__text">
                    Voulez-vous <a class="footer__link" href="{% url 'password_change' %}">changer votre mot de passe ?</a>
                </p>
            </footer>
        {% endif %}
    </body>
</html>