body {
    background-color :#f5efe6;
    font-family: 'Helvetica','Arial', sans-serif;
    color: #2c2c2c;
    width: auto;
    height: auto;
    overflow: visible;
    padding: 10px;
    font-size: 16px;

}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ccc;
    background-color: #1e3a5f;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
}

.header__title {
    flex: 1;
    color: #fff;
    font-family:'Helvetica', 'Arial', sans-serif;
    font-size: 1.5em;
    padding: 10px;
    text-align: center;
    font-weight: bold;

}

.header__title h1 {
    margin: 0;
}

.navbar__menu {
    flex: 0;
    display: flex;
    gap: 20px;
    margin: 20px;
    justify-content: flex-end;
    align-items: center;
}

.navbar__item {
    display: inline;
    list-style-type: none ;

}
.navbar__item form{
    margin-bottom: 0;
}

.navbar__link {
    display: block;
    font-size: 1rem;
    min-width: 60px;
    margin: 0.5rem;
    padding: 0.4rem 0;            /* Marges internes (2 valeurs = haut/bas et gauche/droite)*/
    text-align: center;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}

.navbar__link:hover {
    color: #007bff;
}

.navbar__link:visited {
    text-decoration: none
    color: white;
}

button.navbar__link {
    background: none;
    border: none;
    font-weight: bold;

    transition: color 0.3s ease;
}

button.navbar__link:hover {
    color: #007bff;
}

.signup-block__title, .login-block__title {
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 1.5em;
    padding: 10px;
    text-align: center;
    font-weight: bold;
}

.authentication_container{
    display: flex;
    justify-content: space-between;
    font-family: 'Helvetica', 'Arial', sans-serif;
    padding: 20px;
    gap: 20px;
}

.signup_block, .login-block{
    display: inline-block;
    flex: 1;
    text-align: center;
}

.btn{
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: inline-block;
    text-decoration: none;
    border-radius: 8px;
    color: black;
    margin: 10px;
}
.btn-primary{
    background-color: green;
    color: white;
    font-weight: bold;
}

.btn-primary:hover{
    background-color: #256b44;
    box-shadow: 0 4px 6px r
}

.btn-secondary{gba(0, 0, 0, 0.2);
    background-color: #6C757D;
    color: white;
    font-weight: bold
}

.btn-secondary:hover{
    background-color: #5a6268;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.btn-warning {
    background-color: #ffc107;
    font-weight: bold;
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btn-warning:hover {
    background-color: #e0a800;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.btn-warning:active {
    background-color: #d39e00;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.btn-danger {
    background-color: #FF474C;
    font-weight: bold;
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btn-danger:hover {
    background-color: #FF4C4C;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.btn-danger:active {
    background-color: #FF2E2E;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.btn-create-review{
    padding: 10px 20px;
    align-self: flex-end;
    margin-top: 10px;
}


.btn-form-container{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;


}
.btn-form {
    align-self: flex-end;

}
.form-control{
    font-family: 'Helvetica', 'Arial',sans-serif;
    font-size: 1.2em;
    padding: 10px;
    height: 50px;
    box-sizing: border-box;
    width: 100%;
}

.form-control__larger{
    width: 60%;
}

.form-control__description{
    height: 30%;

}
.form-control__checkbox {
    display: flex;
    flex-direction: row;
    gap: 15px;
    list-style: none;
    padding: 0;
    margin: 0;
}


.form-control__checkbox li {
    display: inline-block;
}


.form-control__checkbox label {
    display: flex;
    align-items: center;
    cursor: pointer;
}


.form-control__checkbox input[type="radio"] {
    margin-right: 5px;
}
.form-control__searchbar{
    width: 100%;
    box-sizing: border-box;
}

.signup-form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.signup-form-container__form{
    align-self : center;
    justify-self : flex-end;
    width: 50%;

}

.signup-form__buttons{
    justify-self: flex-end;
    justify-content: space-between;
}

.page-title {
    font-size: 1.5em;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    margin-top : 2%;
}

.feed-main-content {
    padding-left : 20%;
    padding-right : 20%;
    margin-top : 2%;
}

.tickets__creation {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.feed-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 20px ;
}

.feed-container__item {
    border: 2px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    display: flex;
    flex-direction: column;
}

.post-item {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.post-item__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.post-item__author {
    font-weight: bold;
    font-size: 1rem;
}

.post-item__time {
    font-size: 0.9rem;
    color: #555;
    align-self: flex-end;
}

/* Contenu */
.post-item__headline {
    font-size: 1.2rem;
    color: #1e3a5f;
    font-weight: bold;
    margin-bottom: 10px;
}

.post-item__description {
    margin-bottom: 15px;
    line-height: 1.5;
    color: #333;
}

/* Image */
.ticket-item__image  {
    max-width: 400px;
    max-height: 400px;
    object-fit: contain;
    display: block;
}
.ticket-item__image-container--thumbnail{
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 8px;
    border: 2px solid #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.image-thumbnail {
    max-width: 100%;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.post-item__buttons--edit {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 10px;
}

.ticket-summary{
    background-color: #f9f9f9;
}

.ticket-summary__content{
    width: 95%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding : 2%;
    border: 2px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.create-review-container{
    width: 100%;
    box-sizing: border-box;
}

.rating__stars {
    font-size: 1.5rem;
    color: black;
    letter-spacing: 2px;
}
.rating__fieldset {
    margin-top: 15px;

}

.page-layout {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 2%;
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;
    padding : 2%;
    border: 2px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.page-layout section{
    width: 100%;
}

.ticket-creation-container p{
    font-size: 1.2em;
    font-weight: bold;
}

.ticket-form{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.follow-user-table {
    width: 100%;
    border-collapse: collapse; /* Éliminer les espaces entre les bordures */
    margin: 20px 0;
    text-align: left;
    font-size: 1.2em;
}

.follow-user-table tr{
    border: 1px solid #cccc;
    padding: 8px;
}

.follow-user-table td{
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 8px;
}

.follow-user-table tbody{
    padding:0px;
}

.follow-user-table__form{
   margin: 0;
}

.follow-user-field{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* Modal hidden by default */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fond semi-transparent */
    z-index: 1000;
}

/* Display modal when targeted */
.modal:target {
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 90%;
}

.pagination-container{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 10px;
    font-size: 1.2em;
    font-family: 'Helvetica','Arial' sans-serif;
}

.alert-success {
    background-color: #d4edda;
    color: #155724;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.alert-error {
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}
.alert-warning {
    background-color: #fff3cd;
    color: #856404;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.alert-info {
    background-color: #d1ecf1;
    color: #0c5460;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

@media (max-width: 425px) {
     .feed-main-content {
        padding-left : 2%;
        padding-right : 2%;
        margin-top : 2%;
    }

    .header {
        flex-direction: column;
        align-items: center;
        margin-left: 10%;
        margin-right: 10%;
    }

    .header__title {
        font-size: 1.5rem;
        margin-bottom: 1rem;
        text-align: center;
    }

    .navbar__menu {
        flex-direction: column;
        align-items: center;
        margin:0;
        padding:0;
    }
}
@media (min-width: 426px) and (max-width: 768px) {
    .feed-main-content {
        padding-left : 2%;
        padding-right : 2%;
        margin-top : 2%;
    }

    .header {
        flex-direction: column;
        align-items: center;
        margin-left: 20%;
        margin-right: 20%;
    }

    .header__title {
        font-size: 1.5rem;
        margin-bottom: 1rem;
        text-align: center;
    }

    .navbar__menu {
        flex-direction: column;
        align-items: center;
        margin:0;
        padding:0;
    }
}



