{% extends "base.html" %}
{% block content %}
<div class="page-layout" >
    <form method="post" class="ticket-form" enctype="multipart/form-data">
        {% csrf_token %}

        <!-- Inclure le formulaire de ticket -->
        {% include 'reviews/ticket_form.html' %}

        <!-- Inclure le formulaire de critique -->
        {% include 'reviews/review_form.html' %}

        <!-- Inclure les boutons de validation -->
        {% include 'reviews/buttons_form.html' %}
    </form>
</div>
{% endblock content %}