{% load reviews-extras %}
<section class="post-item">
    <header class="post-item__header">
        <p class="post-item__author">{% get_poster_display review.user %} publié une critique</p>
        <time class="post-item__time">{{ review.time_created|date:"H:i, j F Y" }}</time>
    </header>
    <h3 class="post-item__headline">{{ review.headline }}</h3>
    <p class="review-item__rating">
        <span class="rating__label">Note :</span>
        <span class="rating__stars">{{ review.star_rating }}</span>
    </p>
    <p class="post-item__description">{{ review.body }}</p>

    <!-- Résumé du ticket lié -->
    {% include "reviews/ticket_summary.html" with ticket=review.ticket %}


     {% if show_buttons and review.user == request.user %}
        <div class="post-item__buttons--edit">
            <!-- Bouton pour modifier -->
            <a href="{% url 'edit-review' review.id %}" class="btn btn-primary" aria-label="Modifier la critique">Modifier</a>

            <!-- Bouton pour ouvrir la modale de suppression -->
            <a href="#confirm-delete-{{ review.id }}" class="btn btn-danger" aria-label="Supprimer la critique">Supprimer</a>
        </div>

        <!-- Modale de confirmation pour supprimer la critique -->

        {% include "reviews/confirm_delete_modal.html" with object_id=review.id object_type="cette critique" delete_url="delete-review" %}
    {% endif %}
</section>