body {
    background-color :#f5efe6;
    font-family: Helvetica, sans-serif;
    color: #2c2c2c;
    width: auto;
    height: auto;
    overflow: visible;
    padding: 10px;

}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ccc;
    background-color: #1e3a5f;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
}

.header__title {
    flex: 1;
    color: #fff;
    font-family: Helvetica, sans-serif;
    font-size: 1.5em;
    padding: 10px;
    text-align: center;
    font-weight: bold;
}

.navbar__menu {
    display: flex;
    gap: 20px;
    margin: 20px;
}

.navbar__item {
    display: inline;
    list-style-type: none ;

}
.navbar__link {
    display: block;
    font-size: 1rem;
    min-width: 60px;
    margin: 0.5rem;               /* Marges externes (1 valeurs = 4 directions) */
    padding: 0.4rem 0;            /* Marges internes (2 valeurs = haut/bas et gauche/droite)*/
    text-align: center;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}

.navbar__link:hover {
    color: #007bff; /* Couleur au survol */
}

.navbar__link:visited {
    text-decoration: none
    color: white;
}

button.navbar__link {
    background: none;
    border: none;
    font-weight: bold;

    transition: color 0.3s ease;
}

button.navbar__link:hover {
    color: #007bff; /* Couleur au survol pour le bouton */
}

.signup-block__title, .login-block__title {
    font-family: Helvetica, sans-serif;
    font-size: 1.5em;
    padding: 10px;
    text-align: center;
    font-weight: bold;
}

.authentication_container{
    display: flex;
    justify-content: space-between;
    font-family: Helvetica, sans-serif;
    padding: 20px;
    gap: 20px; /* Espace entre les sections */
}

.signup_block, .login-block{
    display: inline-block;
    flex: 1;
    text-align: center;
}

.btn{
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: inline-block;
    text-decoration: none;
    border-radius: 8px;
    color: #faf0e6;
    margin: 10px;
}
.btn-primary{
    background-color: #2E8B57;
    font-weight: bold;
}

.btn-primary:hover{
    background-color: #256b44;
    box-shadow: 0 4px 6px r
}

.btn-secondary{gba(0, 0, 0, 0.2);
    background-color: #6C757D;
    font-weight: bold
}

.btn-secondary:hover{
    background-color: #5a6268;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

/* Bouton Warning */
.btn-warning {
    background-color: #ffc107; /* Jaune vif */
    color: black; /* Texte gris clair pour meilleur contraste */
    border: none; /* Supprime la bordure */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Ombre légère */
}

.btn-warning:hover {
    background-color: #e0a800; /* Jaune foncé au survol */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2); /* Accentue l'ombre au survol */
}

.btn-warning:active {
    background-color: #d39e00; /* Jaune encore plus foncé au clic */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Ombre réduite lors du clic */
}

/* Bouton Danger */
.btn-danger {
    background-color: #FF6B6B; /* Rouge vif */
    color: black; /* Texte gris clair pour meilleur contraste */
    border: none; /* Supprime la bordure */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Ombre légère */
}

.btn-danger:hover {
    background-color: #FF4C4C; /* Rouge plus foncé au survol */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2); /* Accentue l'ombre au survol */
}

.btn-danger:active {
    background-color: #FF2E2E; /* Rouge encore plus foncé au clic */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Ombre réduite lors du clic */
}

.btn-create-review{
    padding: 10px 20px;
    align-self: flex-end;
    margin-top: 10px;
}


.btn-form-container{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;


}
.btn-form {
    align-self: flex-end;

}
.form-control{
    font-family: Helvetica, sans-serif;
    font-size: 1.2em; /* Agrandit le texte à l'intérieur du champ */
    padding: 10px; /* Ajoute de l'espace autour du texte */
    height: 50px; /* Définit une hauteur plus grande pour le champ */
    box-sizing: border-box; /* Assure que le padding n'affecte pas la largeur totale */
    width: 100%;
}

.form-control__larger{
    width: 60%; /* Rend le champ plus large */
}

.form-control__description{
    height: 30%;

}
.form-control__checkbox {
    display: flex; /* Change la disposition en flexbox */
    flex-direction: row; /* Aligne les éléments en ligne horizontale */
    gap: 15px; /* Ajoute un espacement entre les options */
    list-style: none; /* Supprime les puces par défaut */
    padding: 0; /* Retire le padding interne */
    margin: 0; /* Supprime la marge externe */
}

/* Style des options */
.form-control__checkbox li {
    display: inline-block; /* S'assure que chaque option reste inline */
}

/* Style pour l'étiquette */
.form-control__checkbox label {
    display: flex;
    align-items: center; /* Centre verticalement le texte et l'input */
    cursor: pointer; /* Change le curseur au survol */
}

/* Ajoutez des styles pour les radio buttons */
.form-control__checkbox input[type="radio"] {
    margin-right: 5px; /* Ajoute un espace entre le bouton et le label */
}
.form-control__searchbar{
    width: 100%;
    box-sizing: border-box;
}

.signup-form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.signup-form-container__form{
    align-self : center;
    justify-self : flex-end;
    width: 50%;

}

.signup-form__buttons{
    justify-self: flex-end;
    justify-content: space-between;
}

.page-title {
    font-size: 1.5em;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    margin-top : 2%;
}

.feed-main-content {
    padding-left : 20%;
    padding-right : 20%;
    margin-top : 2%;
}

.tickets__creation {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.feed-container {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Espacement entre les tickets */
    margin: 20px ;
}

.feed-container__item {
    border: 2px solid #ddd;
    border-radius: 8px; /* Coins arrondis */
    padding: 10px; /* Espacement interne */
    background-color: #fff; /* Fond blanc */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Ombre pour l'esthétique */
    display: flex;
    flex-direction: column;
}

.post-item {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.post-item__header {
    display: flex; /* Active le mode Flexbox pour aligner les éléments horizontalement */
    justify-content: space-between; /* Place les éléments aux extrémités (gauche et droite) */
    align-items: center; /* Centre verticalement l'auteur et le temps */
    margin-bottom: 10px;
}

.post-item__author {
    font-weight: bold;
    font-size: 1rem;
}

.post-item__time {
    font-size: 0.9rem;
    color: #555;
    align-self: flex-end;
}

/* Contenu */
.post-item__headline {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.post-item__description {
    margin-bottom: 15px;
    line-height: 1.5;
    color: #333;
}

/* Image */
.ticket-item__image img {
    max-width: 100%; /* Limite la largeur de l'image à celle de la carte */
    height: auto; /* Préserve le ratio de l'image */
    border-radius: 4px; /* Ajout d'un léger arrondi aux coins */
    object-fit: cover; /* Gère le recadrage des images si nécessaire */
}
.ticket-item__image-container--thumbnail{
    width: 150px; /* Largeur fixe pour la miniature */
    height: 150px; /* Hauteur fixe pour la miniature */
    overflow: hidden; /* Masque les parties débordantes de l'image */
    border-radius: 8px; /* Coins arrondis pour un rendu esthétique */
    border: 2px solid #ddd; /* Bordure légère pour encadrer la miniature */
    display: flex;
    justify-content: center; /* Centre horizontalement l'image */
    align-items: center; /* Centre verticalement l'image */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Ombre légère */
}

.image-thumbnail {
    max-width: 100%; /* Limite la largeur de l'image à celle de la carte */width: 100%; /* Ajuste la largeur de l'image au conteneur */
    height: auto; /* Préserve les proportions */
    object-fit: cover; /* Recadre l'image si nécessaire */
}


.post-item__buttons--edit {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 10px;
}

.ticket-summary{
    width: 95%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding : 2%;
    border: 2px solid #ddd;
    border-radius: 8px; /* Coins arrondis */
    background-color: #f9f9f9; /* Fond blanc */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Ombre pour l'esthéré */
}
.create-review-container{
    width: 100%;
    box-sizing: border-box;
}
.rating__stars {
    font-size: 1.5rem; /* Taille des étoiles */
    color: #FFD700; /* Couleur des étoiles (doré) */
    letter-spacing: 2px; /* Espacement entre les étoiles */
}

.page-layout {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 2%;
    margin : 5%;
    padding : 2%;
    border: 2px solid #ddd;
    border-radius: 8px; /* Coins arrondis */
    background-color: #f9f9f9; /* Fond blanc */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Ombre pour l'esthétique */
}

.page-layout section{
    width: 100%;
}

.ticket-creation-container p{
    font-size: 1.2em;
    font-weight: bold;
}

.ticket-form{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.follow-user-table {
    width: 100%; /* Utiliser toute la largeur disponible */
    border-collapse: collapse; /* Éliminer les espaces entre les bordures */
    margin: 20px 0; /* Ajouter de l'espace au-dessus et en dessous */
    text-align: left; /* Alignement du texte dans les cellules */
    font-size: 1.2em;
}

.follow-user-table tr{
    border: 1px solid #cccc; /* Ajoute une bordure légère */
    padding: 8px; /* Ajoute un peu d'espace autour du contenu */
}

.follow-user-table td{
   display: flex; /* Active le mode flexbox */
   justify-content: space-between; /* Éloigne les deux éléments (texte à gauche, bouton à droite) */
   align-items: center;
   padding: 8px;
}

.follow-user-table tbody{
    padding:0px;
}
.follow-user-table__form{
   margin: 0;
}

.follow-user-field{
    display: flex;
    flex-direction: row;
    justify-content: center;


}